@layer default, display, code, tabs;

@layer default {
  :host {
    display: block;

    slot {
      display: initial;
    }
  }
}

@layer tabs {
  :host {
    .hidden {
      display: none;
    }

    #tabs {
      border: var(--gcds-border-width-md) solid black;

      [role='tablist'] {
        [role='tab']::part(button) {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          margin: 0 var(--gcds-spacing-50);
        }

        [aria-selected='true']::part(button) {
          background-color: var(--gcds-bg-primary);
          color: white;
        }
      }

      table {
        border-top: var(--gcds-border-width-md) solid black;
        width: 100%;

        caption {
          text-align: left;
          font: var(--gcds-font-text-mono);
        }

        th {
          padding: var(--gcds-spacing-100) var(--gcds-spacing-50);
          border-bottom: var(--gcds-border-width-sm) solid black;
        }

        th,
        td {
          text-align: left;
        }

        &.attributes {
          th,
          td {
            width: 25%;
          }
        }
      }

      .tabs--accessibility {
        padding: var(--gcds-spacing-100);

        gcds-button {
          margin: var(--gcds-spacing-300) 0;
        }
      }
    }
  }
}
